body {
  background-color: #58a3d9;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo {
  background-color: #fff;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.todo_title {
  font-size: 24px;
  color: #4b4b4b;
  margin-bottom: 15px;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.input_text {
  font-weight: 20px;
  font-size: 20px;
  text-align: center;
  flex: 1;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #58a3d9;
  border-radius: 5px;
  margin-right: 10px;
}

.button_title {
  background-color: #57a2d9;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.button_title:hover {
  background-color: #4792c7;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.title_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  color: #4792c7;
}

.title_text:nth-child(odd) {
  background-color: #eef7fc;
}
.todo-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  background-color: #f7f9fa;
  border-radius: 5px;
  margin-bottom: 10px;
}

.todo-item:hover {
  background-color: #eaf2f8;
}

.task-content {
  display: flex;
  align-items: center;
  flex: 1;
}

.task-content input[type="checkbox"] {
  transform: scale(1.3);
  margin-right: 15px;
  cursor: pointer;
}

.task-text {
  border: none;
  background-color: transparent;
  font-size: 16px;
  flex: 1;
  color: #333;
}

.task-text:focus {
  outline: none;
}

.task-text.completed {
  text-decoration: line-through;
  color: #aaa;
}

.task-actions {
  display: flex;
  align-items: center;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  padding: 5px;
  border-radius: 50%;
  transition: background-color 0.2s ease;
}

.edit-btn svg {
  fill: #4b9efc;
  width: 18px;
  height: 18px;
}

.edit-btn:hover {
  background-color: rgba(75, 158, 252, 0.2);
}

.edit-btn:hover svg {
  fill: #007bff;
}

.delete-btn svg {
  fill: #e57373;
  width: 18px;
  height: 18px;
}

.delete-btn:hover {
  background-color: rgba(229, 115, 115, 0.2);
}

.delete-btn:hover svg {
  fill: #d32f2f;
}

.edit-btn {
  margin-right: 5px;
}
